@charset 'utf-8';

.user-photo {
  transition: transform .23s cubic-bezier(0,1,.33,1.28), opacity .23s cubic-bezier(0,1,.33,1.28);
  &:hover,
  &:active {
    border: none;
    transform: scale(1.2, 1.2);
  }
  &:hover + p.lead,
  &:active + p.lead {
  margin-top: 0.2987em;
  }
}

