@charset 'utf-8';

$white: hsla(0, 0%, 100% , 1);

$sf-color-theme-red: hsl(350, 54%, 38%);
$sf-color-theme-dark: hsl(231, 12%, 23%);
$sf-color-theme-grey: hsl(180, 2%, 60%);
$sf-color-theme-white: hsl(45, 57%, 88%);
$sf-color-theme-blue: hsl(190, 49%, 40%);

$flat-design-color-theme-blue: hsl(201, 30%, 28%);
$flat-design-color-theme-green: hsl(168, 44%, 49%);
$flat-design-color-theme-yellow: hsl(46, 84%, 62%);
$flat-design-color-theme-orange: hsl(22, 74%, 57%);
$flat-design-color-theme-red: hsl(7, 69%, 58%);

$infographic-color-theme-red: hsl(0, 65%, 57%);
$infographic-color-theme-yellow: hsl(26, 82%, 57%);
$infographic-color-theme-green: hsl(91, 29%, 53%);
$infographic-color-theme-blue: hsl(194, 60%, 56%);
$infographic-color-theme-dark: hsl(0, 0%, 24%);


