@charset 'utf-8';

// carousel logo sponsors
#flickity {
    background-color: $white;
  .logo-sponsor {
    height: 100%;
    max-width: 100%;
    display: block;
    margin-right: 10px;
  }
  .inner {
      width: 80%;
      max-width: 980px;
  }
  p {
    color: $sf-color-theme-grey;
    font-size: 1.2rem;
  }
}

// article1
#article1 {
  background-size: 3%;
  background-image: url("./images/grid.png");
  background-repeat: repeat;
  background-color: $infographic-color-theme-dark;
  margin: 0;
  padding: 5em;
  .inner {
      width: 80%;
  }
  h3 {
    font-size: 2.9em;
  }
}
// article2
#article2 {
  margin: 0;
    .inner {
        width: 80%;
    }
    .user-photo {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 150px;
      text-align: center;
      border: 0.39em solid $white;
    }
    p {
      font-size: 1.2rem;
    }
    h3 {
      color: $sf-color-theme-grey;
    }
}
