<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.min.css">
</head>
<body class="overflow-hidden">
    <!-- @Loader
    <div class="loader active">
        
    </div>
    @loader-->
    <!-- @NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-active fixed-top" id="navbar">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">
            <a href="#" class="navbar-brand"><img src="logo.png" width="50px" height="50px" alt="logo Point Commun"></a>
            <span class="navbar-text"><%= htmlWebpackPlugin.options.title %></span>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="#" class="nav-link">Page d'accueil</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Association</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Projet de l'Association</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Activité</a>
                </li>
                <li class="navbar-item">
                    <a href="#sponsor" class="nav-link">Les Sponsors</a>
                </li>
                <li class="navbar-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--@/NavBar-->
    <main role="main">
        <!--@Image-->
        <section class="img jumbotron mb-0" id="img-1">
            <div class="inner mt-5">
                <h1 class="display-3 mb-lg-5 mb-xs-1"><%= htmlWebpackPlugin.options.title %></h1>
                <p class="lead">Reprehenderit excepteur ad sit cupidatat amet duis irure ullamco et.</p>
            </div>
             <!-- @arrowLinkBottom -->
            <div class="arrowLinkBottom mb-4">
                <a href="#article-1">
                    <p class="lead text-center text-white">EN SAVOIR PLUS</p>
                    <img class="text-center" src="./assets/img/arrowDown.251465b3.png" alt="arrow go down">
                </a>
            </div>
            <!-- /@arrowLinkBottom -->
        </section>
        <!--/@Image-->
        <!-- @flickity-->
        <section class="container-fluid py-3" id="sponsor">
            <div class="inner">
                <p>Ils nous font confiance :</p>
                    <div class="carousel">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                            <img class="logo-sponsor" src="https://dummyimage.com/160x66&text=Example+Sponsors" alt="Example Logo Sponsors">
                    </div>
            </div>
        </section>
        <!-- /@flickity-->
        <!-- @article-1-->
        <section class="container-fluid" id="article-1">
            <div class="row text-white">
                <div class="col-md-4">
                    <h3 class="underline">Title 1</h3>
                    <p class="lead">
                        Duis veniam consequat dolore quis minim non laborum sunt in tempor laboris occaecat pariatur nisi deserunt in occaecat ex.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="underline">Title 2</h3>
                    <p class="lead">
                        Duis veniam consequat dolore quis minim non laborum sunt in tempor laboris occaecat pariatur nisi deserunt in occaecat ex.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="underline">Title 3</h3>
                    <p class="lead">
                        Duis veniam consequat dolore quis minim non laborum sunt in tempor laboris occaecat pariatur nisi deserunt in occaecat ex.
                    </p>
                </div>
            </div>
            <img src="./assets/img/techno.eee05bb6.png" class="img-illustration" alt="nouvelle technologie">
        </section>
        <!-- /@article-1-->
        <!-- @article-2 -->
        <article class="container-fluid" id="article-2">
            <svg id="wave" xmlns="http://www.w3c.org/2000.svg" viewBox="0 0 1416.99 174.01">
                <path fill="#fff" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z" transform="translate(0,-135.53)" />
            </svg>
                <div class="bg-white">
                    <div class="inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3 class="underline">Title 1</h3>
                                    <p class="lead">
                                        Veniam tempor cupidatat occaecat enim occaecat culpa enim. Mollit consequat ea ut anim eiusmod veniam irure esse ea proident. Excepteur nisi commodo aute eu aute exercitation labore. Velit cupidatat nulla Lorem aliqua deserunt in nulla minim deserunt.
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                        <img src="https://randomuser.me/api/portraits/lego/4.jpg" alt="personne aléatoire" class="rounded-circle mb-lg-3 shadow user-photo">
                                        <p class="lead">Jerome Wagner</p>
                                </div>
                            </div>
                    </div>
                </div>
            </article>
        <!-- /@article-2 -->
        <!-- @img-2 
        <section class="img" id="img-2"></section>
        /@img-2 -->
        <!-- @tab-->
        <article class="container-fluid py-3" id="tab">
            <div class="container">
                <div>
                    <ul class="tabs">
                        <li class="active"><a href="#accueil">Accueil</a></li>
                        <li><a href="#mentions">Mentions</a></li>
                        <li><a href="#about">A propos</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab-content active" id="accueil">
                          <div class="row">
                              <div class="col-lg-4">
                                 <div class="card shadow" style="width: 18rem;">
                                    <img src="https://dummyimage.com/286x180&text=Example+Image" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                 <div class="card shadow" style="width: 18rem;">
                                    <img src="https://dummyimage.com/286x180&text=Example+Image" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                 <div class="card shadow" style="width: 18rem;">
                                    <img src="https://dummyimage.com/286x180&text=Example+Image" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-content" id="mentions">
                          Proident sint officia magna labore exercitation sunt consectetur aliquip eiusmod do. Sunt sunt ut ut aliqua eu in enim aliqua nulla minim ad reprehenderit incididunt. Dolor in proident labore irure nisi. Minim occaecat amet elit et. Dolore fugiat ex ut elit. Enim adipisicing deserunt dolor proident in eiusmod in nostrud sint quis aliquip dolor.
                          Culpa aliqua duis consectetur non cillum excepteur consequat ullamco. Quis dolor est ipsum aliqua laborum consequat dolore. Adipisicing et aliqua do non consectetur enim elit ex adipisicing voluptate ipsum ut anim duis. Non pariatur mollit nulla occaecat deserunt labore anim aliqua adipisicing ullamco magna elit enim officia. Pariatur elit excepteur anim dolore anim cupidatat id id veniam aliquip.
                          Aliquip esse exercitation id duis cupidatat incididunt et. Anim officia aliquip voluptate dolore adipisicing minim ea amet reprehenderit eu officia. Dolore nostrud voluptate consequat laboris ullamco aliquip cupidatat est consequat duis. Quis dolore eiusmod enim dolore occaecat in irure consectetur sunt. Mollit nostrud tempor ex labore in fugiat laborum nulla non. Lorem ex consectetur nostrud mollit minim ipsum irure Lorem. Anim in non veniam ut adipisicing ut sint ipsum consectetur do officia.
                        </div>
                        <div class="tab-content" id="about">
                          About eiusmod ipsum ipsum adipisicing veniam ut ad.
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- /@tab -->
        <!-- @img-3
        <section class="img" id="img-3">
                <svg id="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="#fff" points="0,0  100,0  50,60"></polygon>
                </svg> 
        </section>
         /@img-3-->
        <!-- @article-3 -->
        <article class="container-fluid py-5" id="article-3">
                <div class="inner text-center">
                    <h3>Les contributeurs :</h3>
                    <div class="row py-5 mx-5">
                        <div class="col-lg-4">
                            <img src="https://randomuser.me/api/portraits/lego/5.jpg" alt="personne aléatoire" class="rounded-circle mb-lg-3 shadow user-photo">
                            <p class="lead">Jerome Wagner</p>
                            <p>Eiusmod do sint dolor amet exercitation mollit ad reprehenderit eiusmod.</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="personne aléatoire" class="rounded-circle mb-lg-3 shadow user-photo">
                            <p class="lead">Rodney Myers</p>
                            <p>Eiusmod do sint dolor amet exercitation mollit ad reprehenderit eiusmod.</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="https://randomuser.me/api/portraits/lego/7.jpg" alt="personne aléatoire" class="rounded-circle mb-lg-3 shadow user-photo">
                            <p class="lead">Sydney Leroy</p>
                            <p>Eiusmod do sint dolor amet exercitation mollit ad reprehenderit eiusmod.</p>
                        </div>
                    </div>
                </div>
            </article>
        <!-- @form -->
        <section class="container-fluid py-3" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h1>C'est par Ici !</h1>
                        <p style="max-width: 30em;">
                            Sit eu ut do occaecat. Qui Lorem amet eu occaecat aliqua labore magna consequat occaecat Lorem proident nulla cillum cupidatat. Eiusmod nulla ullamco qui anim voluptate ut occaecat reprehenderit aliquip tempor cillum adipisicing ex sunt.
                        </p>
                    </div>
                    <div class="col-lg-5">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="max-height: 10em; min-height: 6em"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </form>
                    </div>
            </div>
        </section>
        <!-- /@form -->
    </main>
    <!-- @footer -->
    <footer class="page-footer font-small bg-dark pt-3 pb-3" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                   <nav class="navbar navbar-expand-lg navbar-dark pl-0">
                    <a class="navbar-brand" href="#">
                        <a href="#" class="navbar-brand"><img src="logo.png" width="50px" height="50px" alt="logo Point Commun"></a>
            <span class="navbar-text"><%= htmlWebpackPlugin.options.title %></span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="#">NANA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="#">NANA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="#">NANA</a>
                            </li>
                        </ul>
                    </div>
                    </nav>
                    <p class="text-white pl-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
          harum esse fugiat. Itaque, culpa?</p>
                </div>
                <div class="col-lg-3">
                    
                </div>
            </div>
        </div>     
    </footer>
    <div class="container-fluid bg-info  pt-1 pb-1 text-center">
        <p class="text-white mb-0">Site créalisé par <a href="mailto:davidprosperin@gmail.com" class="font-weight-bold">D. Prospérin</a> <span class="date"></span></p>
    </div>
    <!-- /@footer -->
    <script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.pkgd.min.js"></script>
</body>
</html>
