@charset 'utf-8';

// Loader
.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: 5%;
  background-image: url("../images/grid.png");
  background-repeat: repeat;
  background-color: $infographic-dark;
  background-attachment: fixed;
  &.active {
  	display: block;
    overflow: hidden;
    z-index: 1040;
  }
}