@charset 'utf-8';
// class global
a, a:hover, a:focus  {
  text-decoration: none;
  color: inherit;
}
.inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
%selection {
    ::selection {
        color: $sf-dark;
        background-color: $infographic-green;
        text-shadow: none;
    }

    ::-moz-selection {
        color: $sf-dark;
        background-color: $infographic-green;
        text-shadow: none;
    }

    ::-ms-selection {
        color: $sf-dark;
        background-color: $infographic-green;
        text-shadow: none;
    }

    ::-o-selection {
        color: $sf-dark;
        background-color: $infographic-green;
        text-shadow: none;
    }
}