@charset 'utf-8';

$white: hsla(0, 0%, 100%, 1);

$sf-red: hsl(350, 54%, 38%);
$sf-dark: hsl(231, 12%, 23%);
$sf-grey: hsl(180, 2%, 60%);
$sf-white: hsl(45, 57%, 88%);
$sf-blue: hsl(190, 49%, 40%);

$flat-design-blue: hsl(201, 30%, 28%);
$flat-design-green: hsl(168, 44%, 49%);
$flat-design-yellow: hsl(46, 84%, 62%);
$flat-design-orange: hsl(22, 74%, 57%);
$flat-design-red: hsl(7, 69%, 58%);

$infographic-red: hsl(0, 65%, 57%);
$infographic-yellow: hsl(26, 82%, 57%);
$infographic-green: hsl(91, 29%, 53%);
$infographic-blue: hsl(194, 60%, 56%);
$infographic-dark: hsl(0, 0%, 24%);