@charset 'utf-8';
@import 'colors/_colors';
@import 'footer/_footer';


// class gloabal
.inner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
// carousel logo sponsors
#flickity {
    background-color: $sf-color-theme-white;
  .logo-sponsor {
    height: 100%;
    max-width: 100%;
    display: block;
    margin-right: 10px;
  }
  .inner {
      width: 90%;
      max-width: 980px;
  }
}
// img Jumbotron
#img1 {
  border-radius: 0;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: url(https://picsum.photos/1280/720/?random);
  /*background-attachment: fixed;*/
  background-color: $infographic-color-theme-blue;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(43,43,43, 0.5);
    height: 100%;
  }
  .lead, .display-3, .display-2, .display-4 {
      color: $sf-color-theme-white;
  }
  // arrowLinkBottom
  .arrowLinkBottom {
    margin: 0 auto; 
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
   a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0;
    &:hover {
        text-decoration: none;
    }
  }
}
// article1
#article1 {
  background-size: 3%;
  background-image: url("./static/media/grid.768ca57f.png");
  background-repeat: repeat;
  background-color: $infographic-color-theme-dark;
  .inner {
      width: 90%;
  }
  #one {
    background-color: rgba(43,43,43, 0.2);
  }
  #two {
    background-color: rgba(56,56,56, 0.2);
  }
  #three {
    background-color: rgba(56,56,56, 0.2);
  }
  #four {
    background-color: rgba(43,43,43, 0.2);
  }
}
// article2
#article2 {
    .inner {
        width: 90%;
    }
}


// navbar 
.navbar {
  transition: background 0.3s;
  &.bg-active {
    background-color: $infographic-color-theme-green;
  }
}