@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
}
/* class global */
.inner {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.bg-transparent {
    background-color: transparent !important;
}
/* /class global */
/* carousel logo sponsors */
.logo-sponsor {
    height: 100%;
    max-width: 100%;
    display: block;
    margin-right: 10px
}
#flickity .inner{
    width: 100%;
    max-width: 980px;
}
/* /carousel logo sponsors */
#img1 {
    border-radius: 0;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url(https://picsum.photos/g/1280/720/?random);
    /*background-attachment: fixed;*/
    background-color: #334D5C;
}
#img1 .inner{
    color: whitesmoke;
    width: 100%;
}
#img1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(43,43,43, 0.5);
    height: 100%;
}
/*article1*/
#article1 {
    height: 100%;
    width: 100%;
    background-size: 3%;
    background-image: url("./static/media/grid.768ca57f.png");
    background-repeat: repeat;
    background-color: #334D5C;
}
#article1 .inner {
    width: 80%;
}
#article1 #one {
    background-color: rgba(43,43,43, 0.2);
}
#article1 #two {
    background-color: rgba(56,56,56, 0.2);
}
#article1 #three {
    background-color: rgba(56,56,56, 0.2);
}

#article1 #four {
    background-color: rgba(43,43,43, 0.2);
}
/*/article1*/
/* article2 */
#article2 {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
#article2 .inner {
    width: 95%;
}
/* /article2 */
/* Icon footer  social networks*/
ul.icons li{
    text-align: center;
    display: inline-block;
}
ul.icons {
    text-align: center;
    cursor: default;
    padding-left: 0px;
    list-style: none;
}
.icon {
    position: relative;
    width: 2.586rem; 
    height: auto;
    display: inline;
    text-decoration: none;
    border-bottom: none;
}
#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* /Icon footer  social networks*/
/*arrowLinkBottom*/
.arrowLinkBottom {
    margin: 0 auto; 
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.arrowLinkBottom p, .arrowLinkBottom a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0;
}
.arrowLinkBottom p:hover, .arrowLinkBottom a:hover {
    text-align: center;
    text-decoration: none;
}
/* navbar */
.navbar {
    transition: background 0.3s;
}
/* /navbar */