@charset 'utf-8';
@import 'colors/colors';
@import 'footer/footer';
@import 'article/article';
@import 'navbar/navbar';
@import 'jumbotron/jumbotron';

body {
  overflow-x: hidden;
}
// class gloabal
.inner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
