@charset 'utf-8';

@mixin selection($color, $bckColor) {
    ::selection {
        color: $color;
        background-color: $bckColor;
        text-shadow: none;
    }

    ::-moz-selection {
        color: $color;
        background-color: $bckColor;
        text-shadow: none;
    }

    ::-ms-selection {
        color: $color;
        background-color: $bckColor;
        text-shadow: none;
    }

    ::-o-selection {
        color: $color;
        background-color: $bckColor;
        text-shadow: none;
    }
}